{% extends "@app/modules/layouts/main.twig" %}
{% block content %}

<div class="portlet box purple ">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> {{title}}
		</div>
		<div class="tools">
			<a href="" class="collapse" data-original-title="" title="">
			</a>
			<!-- <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
			</a>
			<a href="" class="reload" data-original-title="" title="">
			</a> -->
			<a href="" class="remove" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form" method="POST">
		<input type="hidden" id="id" name="id" value="{{data.id}}" />
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-3 control-label">权限名称</label>
					<div class="col-md-9">
						<input type="text" id="permissionsName" name="permissionsName" class="form-control input-lg" value="{{data.permissions_name}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">权限编号</label>
					<div class="col-md-9">
						<input type="text" id="permissionsNum" name="permissionsNum" class="form-control input-lg" value="{{data.permissions_num}}">
					</div>
				</div>
			</div>
			<div class="form-actions right1">
				<!-- <button type="button" class="btn default">Cancel</button> -->
				<button type="submit" class="btn green">提交</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}