{% extends "@app/modules/layouts/main.twig" %}
{% block main %}
<div class="right">
    <div class="right_content">
        <div class="right_content_head clearfix">
            <span class="selected">添加员工</span>
        </div>
        <form id="iosgameadd" method="post" enctype='multipart/form-data'>
            <div class="right_content_addgame"><br/><br/><br/>
                <div>
                    <label>uid：</label>
                    <input type="text" name="gamename" value="" style="width:150px">
                </div>
                <div>
                    <label>员工姓名：</label>
                    <input type="text" name="fstletter" value="">
                </div>
                
            </div>
            <div class="back_btn">
                <a class="back_btn_blue addstaff">保存</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
$('.addstaff').click(function(){
	alert(1);
})
</script>
{% endblock %}