{% extends "@app/modules/layouts/main.twig" %}
{% block main %}
<div class="site-login">
    <h1>{{title}}</h1>
    <div  style="width:800px;height:700px;">
    	<iframe runat="server" src="/srbac" width="750" height="800" frameborder="1" border="0" marginwidth="0" marginheight="0" scrolling="yes" allowtransparency="yes"></iframe>
    </div>
</div>

{% endblock %}