{#<!--知识标签树模态框-->#}
{% extends "@Admin/modules/layouts/frame/modal.twig" %}
{% block modalcontent %}
<form method="post" id="form" class="j-ajax-form form-horizontal" j-ajax-callback="labelAddCallBack" action="{{ postUrl }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加</h4>
    </div>
    <div class="modal-body">
        {% include "@modules/tag/views/tag/form.twig" %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
</form>
{% endblock %}
