{% extends "@app/modules/layouts/main.twig" %}
{% block main %}
    <div class="right">
        <div class="right_content">
            <div class="right_content_head clearfix">
                <span class="selected">密码重置</span>
            </div>
            <div class="right_content_tab right_content_add">
            <form action="/manage/resetpassword/restpassword" method="post">
                <div class="right_content_addgame">
                    <div>
                        <label>旧密码：</label>
                        <input type="text" name="old" class="old" value="">
                    </div>
                    <div >
                        <label>新密码：</label>
                         <input type="text" name="new" class="new" value="">
                    </div>
                </div>
                <div class="back_btn add_btn">
                    <input type="submit" value="提交" class="back_btn_blue">
{#                     <a class="back_btn_blue" id="subpassword">提交</a>#}
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}